.article{
    border-bottom: #eab316 1px solid;
    width:80%;
    padding: 20px;
    margin-top:20px;
    overflow: hidden;
}
.articleTitle{
    color:black;
    background-color: white;
    transition:0.3s;
    width:20%;
    padding:10px;
    border-radius:10px;
}
.articleTitle:hover{
    color:white;
    background-color: #464646;
}
.articleClicked{
    color:white;
    background-color: #464646;
}

