@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  font-family: Mulish, Arial, Helvetica, sans-serif;
}
@media all and (max-width: 3000px) {
  html {
    font-size: 20px;
  }
  
}

@media all and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  overflow-x: hidden;
}

.root{
  display:flex;
  flex-direction: column;
  overflow-x: hidden;
}
.main{
  display: flex;
  flex-direction: row;
  min-height:75vh;
  height:auto;
}

#topiclist{
  width:15%;
}

.right{
  width:85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:75vh;
  height:auto;
}

.header{
  height:14vh;
}
#navbar{
  height:8vh;
}
.footer{
  height:3vh;
}
